    /* .bd-placeholder-img {
        font-size: 1.125rem;
        text-anchor: middle;
        -webkit-user-select: none;
        -moz-user-select: none;
        user-select: none;
      }


@media (min-width: 768px) {
    .bd-placeholder-img-lg {
        font-size: 3.5rem;
    } */

img{
    width:500px;
    height:500px;

}

header{
    height: 47px;
    padding: 1rem;
    color: white;
    background: rgb(94, 94, 94);
    font-weight: bold;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    }

body{
    padding-top: 47px;
}


.photo-wrapper{
    text-align: center;
    display:flex;
    justify-content: center;
    margin-top: 6%;
    flex-wrap:wrap;
    gap:5px;
}

.name{
    font-size: 20px;
    font-style: normal;
    margin-top: 0;
    color:white;
    background-color: rgb(161, 161, 161);
    
}



